PORT=5000
MONGO_URI=mongodb+srv://saqlainmalik73:Wapking23@todocluster1.thhatjs.mongodb.net/?appName=TodoCluster1
JWT_SECRET=generate-a-long-random-string
NODE_ENV=development
CLIENT_URL=http://localhost:3000