.App {
  min-height: 100vh;
  background: #2c3335;
  color: #ffffff;
}

.minimal-swal-popup {
  margin-top: 20px;
  font-weight: 400;
  margin-right: 10px;
  font-size: 10px;
  border-radius: 20px;
  box-shadow: none;
}
